@media (max-width: 1439px) {
    .container {
        max-width: 992px;
    }
    .sidepanel {
        display: none;
    }
    .promo {
        padding-top: 130px;
    }
    .resume {
        &__wrapper {
            padding: 35px 30px 0 30px;
            column-gap: 75px
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
            grid-template-rows: repeat(3,minmax(270px,auto));
            justify-content: center;
        }
        &__progress {
            grid-template-columns: repeat(3,300px);
            column-gap: 27px;
            &-item {
                grid-template-columns: 264px 34px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(2, 480px);
            grid-auto-rows: 320px;
            justify-content: space-around;
        }  
        &__item {
            &-info {
                a {
                    font-size: 16px;
                    padding-left: 25px;
                }
            }
            &-wrapper {
                left: 270px;
            }
            &-text {
                font-size: 16px;
            }
        }
    }
    
}

@media (max-width: 1200px) {
    .container {
        padding-left: 10px;
        max-width: 992px;
    }
    .resume {
        &__wrapper {
            column-gap: 60px
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz16 {
            font-size: 14px;
            line-height: 20px;
        }
        &_fz36 {
            font-size: 30px;
        }
        &_fz48 {
            font-size: 36px;
        }
    }
    .promo {
        &__title {
            width: 620px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            column-gap: 10px;
            padding: 20px 10px 0 10px;
        }
        &__item{
            &-body {
                padding-left: 30px;
                font-size: 14px;
                line-height: 16px;
            }
            &-location {
                font-size: 14px;
                line-height: 14px;
                margin-top: 2px;
            }
            &-name {
                font-size: 14px;
                line-height: 18px;
                margin-top: 5px;
            }
        }
    }
    .skills {
        &__wrapper {
            padding-bottom: 60px;
            grid-template-columns: repeat(2,270px);
            grid-template-rows: repeat(3,minmax(270px,auto));
        }
        &__progress {
            grid-template-columns: repeat(2,350px);
            column-gap: 27px;
            &-item {
                grid-template-columns: 295px 34px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: 560px;
            grid-auto-rows: 360px;

        }  
        &__item {
            &-wrapper {
                left: 320px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 35px;
            width: 465px;
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 510px;
            row-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            padding-bottom: 40px;
            grid-template-columns: 270px;
            row-gap: 20px
        }
        &__progress {
            grid-template-columns: 350px;
            row-gap: 40px;
            justify-content: center;
            &-item {
                grid-template-columns: 316px 34px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: 480px;
            grid-auto-rows: 320px;
        }  
        &__item {
            &-info {
                a {
                    font-size: 16px;
                    padding-left: 25px;
                }
            }
            &-wrapper {
                left: 270px;
            }
            &-text {
                font-size: 16px;
            }
        }
    }
    .footer {
        height: 80px;
        &__link {
            width: 40px;  
            height: 40px;
            margin: 10px;
        }
        &__download-resume {
            height: 40px;
            margin: 10px; 
            font-size: 14px;           
        }
    }
    .pageup {
        width: 30px;
        height: 30px;
        bottom: 30px;
        right: 30px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 25px;

    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .btn {
        height: 40px;
        padding: 10px 20px;
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
        &__link {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
        }
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
    }
    .resume{
        .divider {
            margin-top: 20px;
        }
        &__wrapper {
            padding: 15px 8px 0 8px;
            grid-template-columns: 490px;
            row-gap: 30px;
        }
    }
    .skills {
        padding-top: 70px;
        .divider {
            margin-top: 20px;
        }
        &__wrapper {
            padding: 10px 15px 40px 15px;
        }
    }
    .pageup {
        width: 25px;
        height: 25px;
        bottom: 15px;
        right: 8px;
    }
}